* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --title-color: #B52184;
  --txt-color: #312D64;
  --bg-primary: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  --bg-main-form: #F9F4FB;
  --bg-cards: #FFFFFF;

}

body {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background: var(--bg-main-form);
}

main img:first-child {
  width: 36.4rem;
  height: 37rem;
}

main h1 {
  color: var(--title-color);
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.0rem;
  text-align: center;

  padding-top: 1.7rem;
}

main p {
  color: var(--txt-color);
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 2.5rem;

  padding-top: .5rem;

  /* animation-name: downtop;
  animation-duration: 700ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in; */
}

.arrow {
  padding: 3.5rem 18.5rem;
  min-width: 5.8rem;
  min-height: 10.5rem;
}

.frame-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);

  padding-top: 5.3rem;
}

.frame-cards img {
  width: 8rem;
  height: 8rem;
}

.cards {
  max-width: 35.2rem;
  min-height: 33.8rem;
  background: var(--bg-cards);

  padding: 2.64rem;
  margin-bottom: 5rem;

  box-shadow: 0px 3.31077px 13.2431px rgba(0, 0, 0, 0.25);
  border-radius: 1.9rem;

  transition: all 1s;
}

.cards img {
  animation-name: rotate;
  animation-duration: 300ms infinite;
}

.cards:hover {
  transform: scale(1.2);
}

.cards h2 {
  color: var(--title-color);

  font-weight: 900;
  font-size: 2.92rem;
  line-height: 3.7rem;

  margin-top: 2.5rem;
  margin-bottom: 1.8rem;
}

.cards p {
  color: var(--txt-color);

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.0rem;

  padding-right: 3.5rem;
}

form {
  background: var(--bg-main-form);
  width: 100%;
  min-height: 56.5rem;

  padding: 7.8rem 4rem;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

fieldset legend {
  color: var(--title-color);

  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4.0rem;
}

.input-wrapper {
  border: 1.5px solid #312D64;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  gap: 1.2rem;

  border-radius: 1.6rem;
}

.input-wrapper input {
  border: none;
  width: 100%;
}

input, textarea {
  font-family: 'Mulish', sans-serif;
  color: var(--txt-color);

  background: var(--bg-main-form);
}

::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 100%;
  color: var(--txt-color);

  font-family: 'Mulish', sans-serif;

  background: var(--bg-main-form);
}

.input-wrapper textarea {

  font-family: 'Mulish', sans-serif;
  width: 100%;
  min-height: 12.6rem;

  border: none;
  resize: none;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 140%;

  color: var(--txt-color);
}

#image {
  display: none;
}

button {
  font-family: 'Mulish', sans-serif;
  background: var(--bg-primary);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color:#FFFFFF;

  border: none;
  border-radius: 1.6rem;

  width: 15.1rem;
  height: 4.5rem;
}

footer {
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  background: var(--bg-primary);
  padding: 3.2rem 1.6rem;
}

footer p {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.95rem;
  line-height: 2.4rem;
}

@media (min-width: 43em) {

  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    min-height: 83.6rem;

  }

  .title{
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  main h1 {
    font-size: 5.83rem;
    line-height: 7.3rem;
    padding-right: 2.8rem;
    padding-top: 31.2rem;

    animation-name: topdown;
    animation-duration: 700ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in-out;
  }

  main p {
    font-size: 3.2rem;
    line-height: 4.0rem;
    text-align: left;
    padding-top: 8px;

    animation-name: downtop;
    animation-duration: 700ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in;
  }

  .arrow {
    padding: 17.9rem 0;
  }

  main div img:first-child {
    width: 71.93rem;
    min-height: 73.1rem;
  }

  .frame-cards {
    flex-direction: row;
    gap: 6.5rem;

    min-width: 144rem;
  }

  .cards {
    width: 34.5rem;
    height: 42.5rem;
  }

   form {
    display: flex;
    flex-direction: column;
    
    padding: 0;
    position: relative;
  }
  
  fieldset {
    display: flex;
    padding-left: 10.9rem;
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;

    width: 65.5rem;

  }

  .fieldset-wrapper {
    display: flex;
    flex-direction: column;

    width: 65.5rem;
    height: 42.2rem;
  }

  #image {
    display: flex;
    align-self: flex-end;
    
    width: 64.4rem;
    height: 61.2rem;
  
    position: absolute;
  }

}


@keyframes topdown{
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateX(-450px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

